---
title: "Conferences And Calls For Papers"
permalink: /conferences/
---

{% if collections.conferences and collections.conferences.length %}
<section aria-label="Conference listings">
  <h2>Conference Listings</h2>
  <ul>
  {% for conf in collections.conferences %}
    <li><a href="{{ conf.url }}">{{ conf.data.title }}</a></li>
  {% endfor %}
  </ul>
</section>
{% endif %}
